[submodule "frontend"]
	path = frontend
	url = https://github.com/DeepForge-Technologies/DeepForgeLogServer-frontend.git
[submodule "backend/database"]
	path = backend/database
	url = https://github.com/DeepForge-Technology/DeepForgeLogServer-database.git
[submodule "backend/users"]
	path = backend/users
	url = https://github.com/DeepForge-Technology/DeepForgeLogServer-users.git
[submodule "backend/logs"]
	path = backend/logs
	url = https://github.com/DeepForge-Technology/DeepForgeLogServer-logs.git